html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  font-family: 'Rubik','Arial',sans-serif;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}
.container{
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



/* main */

/* covid section */
.covid{
background-color:#F6F6F9;
display: flex;
border-radius: 5px;
padding-left: 35px;
padding-right: 35px;
}

.covid-description{
  display: flex;
  align-items: center;
}

.covid-heading{
  width: 230px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 25px;
}

.covid-list{
  list-style: none;
  display: flex;
  margin-left: auto;

}
.covid-list-item{
  border-left: 2px solid #EB5569;
  display: flex;
  align-items: center;
  margin-right: 40px;

}

.covid-list-item-img{
    display: block;
    margin-left: 30px;
}
.covid-list-item-description{
  margin-left: 18px;
}

.covid-list-item-description-text-1{
  color: #DB0000;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.covid-list-item-description-text-2{
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #05B135;
}


.covid-list-item-description-text-3 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #000;
}

.covid-list-item-description-number{
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

}


/* active secion */

.active-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -20px;
  justify-content: space-between;

}

.active-list-item{
  width: 385px;
  margin-left: 20px;

}

.active-list-item-link{
  text-decoration: none;
}
.active-list-item-img{
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
}
.active-list-item-heading {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-top: 0;
  margin-bottom: 10px;
}

.active-list-item-time{
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
}
/* latest popular content */
.latest-popular-content {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.latest-news{
  width: 780px;


}

.latest-news-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-news-list-item{
  margin-bottom: 20px;
}
.latest-news-list-item-link {
  display: flex;
  text-decoration: none;
}

.news-img{
  border-radius: 5px;
  display: block;
  margin-right: 20px;
}

.news-item-description {
  width: 512px;
}

.latest-news-heading{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.news-item-heading{
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-top: 0px;
  margin-bottom: 8px;
}

.news-item-description{
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}


.news-item-calendar {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #7688A4;
}


/* popular news */
.main-right{
margin-left: 30px;
}

.popular-news{
  background: #F6F6F9;
  border-radius: 5px;
  padding:15px 20px;
  width: 385px;
}

.popular-news-heading{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-top: 0px;
  margin-bottom: 5px;
}
.popular-news-list{
  list-style: none;
  margin: 0;
  padding: 0;

}

.popular-news-list-item-link {
  text-decoration: none;

}
.popular-news-list-item-info{
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  font-weight: 300;
  margin-bottom: 10px;
}

.popular-news-list-item{
  border-bottom: 4px solid #E4E4E4;
  padding-bottom: 14px;

}

.popular-news-list-item:last-child{
  padding-bottom: 0px;
  border-bottom: 0px;
}
.popular-news-list-item-time{
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #7688A4;

}


.ads-site{
  margin-top: 20px;
}

.link-container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.link-view-more{
  display: inline-block;
  background: #295093;
  border-radius: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 10px 32px;
  text-decoration: none;


}
